.todo{
    background: #EBE76C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 100px;
    margin-top:  174px;
    min-height: 732px;
    padding: 0px 44px;
    padding-bottom: 30px;
    width: 600px;

}

.todo-header {
    color: #382741;
    font-size: 36px;
    font-weight: 600;
    margin-top: 84px;
    line-height: 34px;
}

.todo-add{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.todo-input {
    background: #edeef0;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    height: 80px;
    outline: none;
    padding-left: 35px;
    width: 576px;
}
.todo-add-btn {
    align-items: center;
    background: #ED7B7B;
    border-radius: 50px;
    color: #382741;
    cursor: pointer;
    display: flex;
    font-size: 26px;
    font-weight: 600;
    height: 80px;
    justify-content: center;
    margin-left: -100px;
    width: 187px;
}